# RedSnake Configuration
REDSNAKE_ENV = {{redsnake_env}}
REDSNAKE_NAME = {{redsnake_name}}


# Flask Configuration
FLASK_ENV={{flask_environment}}
SECRET_KEY={{secret_key}}

# Server Configuration
OUTSIDE_PORT={{outside_port}}
OUTSIDE_FQDN={{outside_fqdn}}

# Database
POSTGRES_PASSWORD={{postgres_password}}
POSTGRES_DB=appdb
POSTGRES_USER=app
DATABASE_URL={{database_url}}

# Redis & Celery
REDIS_PASSWORD={{redis_password}}
REDIS_URL=redis://:{{redis_password}}@redis:6379/2
CELERY_BROKER_URL=redis://:{{redis_password}}@redis:6379/0
CELERY_RESULT_BACKEND=redis://:{{redis_password}}@redis:6379/1

# Gunicorn Settings
GUNICORN_WORKERS=3
GUNICORN_THREADS=8

# Celery Settings
CELERY_LOGLEVEL=INFO
CELERY_CONCURRENCY=4

# Paths
SCRIPTS_DIR=/app/scripts
VAULT_FILE=/app/data/vault.enc
